@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}
body {
    background: linear-gradient(225deg, rgba(243, 218, 94, 0.917), deeppink);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.container {
    color: aquamarine;
    background: linear-gradient(225deg, rgb(49, 243, 211), rgb(246, 81, 252));
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 590px;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}
.container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 50px;
}
